<h1>you're on the about page</h1>
<!-- <%= link_to "Main", root_path %> -->
<!-- link_to === the content between the a tag -->
<!-- the second argument is the name of the route with _path appended -->